include CHANGELOG.md CITATION.cff CODE_OF_CONDUCT.md CONTRIBUTING.md LICENSE MAINTAINERS.md SECURITY.md SUPPORT.md
recursive-include benchmarks *.md *.py
recursive-include docs *.md *.html *.png
recursive-include examples *.json
